section.alert .hidden {
  visibility: hidden;
}

section.alert .alert-box {
  position: fixed;
  top: 10px;
  width: 500px;
  padding: 5px;
  margin: 5px;
  z-index: 100;
  color: white;
}

.alert-success {
  background-color: #63BB6F;
}

