section.alert .hidden {
  visibility: hidden;
}

section.alert .alert-box {
  position: fixed;  
  top: 50px;
  left: 35%;
  width: 500px;
  padding: 10px;
  z-index: 100;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.alert-success {
  background-color: #63BB6F;
}

