nav.navbar {
  height: var(--header-height);
  border-bottom: 1px solid var(--shadow);
  background-color: var(--custom-blue);
}

.navbar-brand {
  height: var(--header-height);
}

.nav-items {
  margin-top: -15px;
}
