.header input.form-control {
  color: #FFFFFF !important;
  background-color: #1F84FF !important;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.603) !important;
  width: 300px !important;
}

::placeholder {
  color: #FFFFFF !important;
}

.fa-search {
  color: #FFFFFF;
}